* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --red: #a10000;
  --dark: #1f1f1f;
  --light: #f5f5f5;
  --white: #ffffff;

  --max-width: 1200px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--light);
  color: var(--dark);
  line-height: 1.7;
}

/* HERO */

.hero {

  background:
    linear-gradient(rgba(0,0,0,0.20), rgba(0,0,0,0.20)),
    url("img/asema.jpg");

  background-size: cover;
  background-position: center 75%;

  display: flex;
  flex-direction: column;
}

.hero2 {
  min-height: 17vh;
  background:
    url("img/upperbanner.jpg");

  background-size: cover;
  background-position: center 75%;

  display: flex;
  flex-direction: column;
  
}

.hero2 .hero-content {
  padding: 2.5rem 1rem 1rem;
}

/* NAVBAR */

.navbar {
  width: 100%;
  max-width: none;

  margin: 0;
  padding: 50px 20px;
  background-color: rgba(0,0,0,0.50);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 60px;
  margin-left: auto;
  list-style: none;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--red);
}

/* HERO CONTENT */

.hero-content {
  flex: 1;
  width: 100%;
  max-width: none;
  margin: auto 0 0;
  padding: 10rem 1rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.hero-logo {
  width: clamp(10rem, 20vw, 16rem);
}

.hero-content h1 {
  color: var(--white);

  font-size: clamp(2rem, 10vw, 4.8rem);

  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
}

.hero-content p {
  color: var(--white);
  margin-top: 2rem;
  font-size: clamp(1.25rem, 2.5vw, 1.375rem);
}

/* MAIN CONTENT */

.main-content {
  padding: 5rem 2rem;
}

.intro {
  max-width: none;
  margin: auto;
  padding: 1rem 7rem 0.8rem;
  position: relative;
  overflow: visible;
}

.intro h2 {
  color: var(--red);
  margin-bottom: 5rem;
  font-size: clamp(1rem, 4vw, 2.5rem);
  font-weight: 700;
}

.intro-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 3rem;
  align-items: center;
}

/* Background logo behind intro text */
.intro::before {
  content: "";
  position: absolute;
  left: 2%;
  top: 60%;
  transform: translateY(-50%);
  width: 100%;
  height: 160%;
  background-image: url("svpk_logo.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  opacity: 0.10;
  pointer-events: none;
}
/*FRONTPAGE INTRO*/
.intro > * {
  position: relative;
  z-index: 1;
}

.intro-text p {
  margin-bottom: 2rem;

  font-size: clamp(1rem, 2.5vw, 1.15rem);
}

.intro-facebook {
  width: 100%;
  min-height: 400px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
/*FACEBOOK EMBED*/
.facebook-embed {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.facebook-embed iframe {
  width: 100%;
  height: 100%;
}

/*KALUSTO INTRO*/
.kalusto_intro{
    background:var(--dark);
    color:var(--white);
    padding:50px 20px;
    text-align:center;
}

.kalusto_intro h1{
    color: var(--red);
    font-size:42px;
    margin-bottom:35px;
    letter-spacing:1px;
}

.kalusto_intro p{
    max-width:900px;
    margin:auto;
    line-height:1.7;
    font-size:18px;
}

/* VEHICLES */
.vehicle-list{
    max-width:1000px;
    margin:auto;
    position:relative;
    z-index:1;
}

.vehicle{
    display:flex;
    align-items:center;
    gap:40px;
    margin-top:60px;
    margin-bottom:60px;
}

.vehicle img{
    width:420px;
    max-width:100%;
    border-radius:4px;
    display:block;
}

.vehicle-info{
    flex:1;
}

.vehicle-info h3{
    font-size:28px;
    margin-bottom:10px;
    color:var(--dark);
}

.vehicle-info p{
    font-size:18px;
    line-height:1.7;
}

/* HALYTYSOSASTO INTRO */
.halytysosasto_intro{
    background:var(--dark);
    color:var(--white);
    padding:50px 100px;
    display:flex;
    align-items:center;
    gap:60px;
    text-align:left;
}

.halytysosasto_intro .image img{
    max-width:300px;
    display:block;
    margin-left:auto;
    border-radius:12px;
}

.halytysosasto_intro h1{
    color:var(--white);
    font-size:42px;
    margin-bottom:35px;
    letter-spacing:1px;
}
.halytysosasto_intro h2{
    color:var(--red);
    font-size:30px;
    margin-bottom:20px;
    letter-spacing:1px;
}

.halytysosasto_intro p{
    max-width:900px;
    margin:0 0 16px;
    line-height:1.7;
    font-size:18px;
}

/* HALYTYSOSASTO CONTENT */
.halytysosasto_content{
    display:grid;
    grid-template-columns:2fr 6fr;
    padding:60px;
    gap:60px;
    color:var(--dark);
}

.left{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.left img{
    max-width:350px;
    max-height:100%;
}

.right{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.right p{
    font-size:18px;
    text-align:center;
    line-height:1.6;
    margin-bottom:25px;
}

.vaakuna{
    position:absolute;
    inset:0;
    background:url("svpk_logo.svg") center no-repeat;
    background-size: 80% ;
    opacity:.08;
    pointer-events:none;
}

/* NUORISO-OSASTO INTRO */
.nuorisoosasto_intro{
    background:var(--light);
    color:var(--dark);
    padding:50px 100px;
    display:flex;
    align-items:center;
    gap:60px;
    text-align:left;
}

.nuorisoosasto_intro .image img{
    max-width:300px;
    display:block;
    margin-left:auto;
    border-radius:12px;
}

.nuorisoosasto_intro h1{
    color:var(--dark);
    font-size:42px;
    margin-bottom:35px;
    letter-spacing:1px;
}

.nuorisoosasto_intro h2{
    color:var(--red);
    font-size:30px;
    margin-bottom:20px;
    letter-spacing:1px;
}

.nuorisoosasto_intro p{
    max-width:700px;
    margin:0 0 16px;
    line-height:1.7;
    font-size:18px;
}

/* NUORISO-OSASTO CONTENT */
.nuorisoosasto_content{
    background:var(--dark);
    display:grid;
    grid-template-columns:10fr 20fr;
    padding:60px;
    gap:60px;
    color:var(--white);
}

.nos_left{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.nos_left img{
    max-width:600px;
    max-height:100%;
}

.nos_right{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.nos_right h2{
    color:var(--red);
    font-size:30px;
    margin-bottom:20px;
    letter-spacing:1px;
}

.nos_right p{
    font-size:18px;
    text-align:center;
    line-height:1.6;
    margin-bottom:25px;
}

/* TUKIOSASTO INTRO */
.tukiosasto_intro{
    background:var(--dark);
    color:var(--white);
    padding:50px 20px;
    text-align:center;
}

.tukiosasto_intro h1{
    color:var(--white);
    font-size:42px;
    margin-bottom:35px;
    letter-spacing:1px;
}
.tukiosasto_intro h2{
    color:var(--red);
    font-size:30px;
    margin-bottom:20px;
    letter-spacing:1px;
}

.tukiosasto_intro p{
    background:var(--dark);
    color:var(--white);
    font-size:18px;
    padding:50px 20px;
    text-align:center;
}

/* TUKIOSASTO CONTENT */
.tukiosasto_content{
    grid-template-columns:2fr 6fr;
    padding:60px;
    gap:60px;
    color:var(--dark);
}

/* JOIN */

.join{
    background:var(--dark);
    color:var(--white);
    text-align:center;
    padding:70px 20px;
}

.join h2{
    color:var(--red);
    font-size:30px;
    margin-bottom:20px;
    letter-spacing:1px;
}

.join p{
    max-width:900px;
    margin:auto;
    font-size:18px;
}

/* FOOTER */

.footer {
  background: var(--red);

  color: var(--white);

  padding: 3rem 20rem;

  display: flex;
  justify-content: space-between;
  gap: 3rem;
  font-size: 1rem;

  flex-wrap: wrap;
}

/* TABLET */

@media (max-width: 900px) {

  .halytysosasto_intro {
    flex-direction: column;
    text-align: center;
  }

  .halytysosasto_intro .image img {
    margin: 0 auto;
  }

  .intro-grid {
    grid-template-columns: 1fr;
  }

  .hero-content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hero-content h1 {
    white-space: normal;
  }

  .nav-links {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .vehicle{
        flex-direction:column;
        align-items:flex-start;
    }

    .vehicle img{
        width:100%;
    }

    .vehicle-info h3{
        font-size:24px;
    }

    .watermark{
        font-size:180px;
    }

}

/* MOBILE */

@media (max-width: 600px) {

  .hero {
    min-height: 85vh;
  }

  .navbar {
    padding: 1rem;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .hero-content {
    padding: 1rem;
  }

  .main-content {
    padding: 3rem 1rem;
  }

.vehicle{
        flex-direction:column;
        align-items:flex-start;
    }

    .vehicle img{
        width:100%;
    }

    .vehicle-info h3{
        font-size:24px;
    }

    .watermark{
        font-size:180px;
    }

  .footer {
    flex-direction: column;
    text-align: center;
  }
}